<footer>

<p>
    <img src="/images/icons.png" alt="Web Editing, Web Framework, Content Repository"/>

    If we have sparked your interest jump into <a href="irc://iks#irc.freenode.net">#iks on irc.freenode.net</a> and say hi!
    Please also consider subscribing to the <a href="http://wiki.iks-project.eu/index.php/Mailinglists">mailinglist</a>!
</p>

<p>
    Spotted a typo? Think something is missing? Please submit a PR on <a href="http://github.com/decoupledCMS/decoupledcms.github.com">github</a>.
</p>

</footer>
