<header>
<h1>
    <a href="./index.html"><img src="./images/logo.png" alt="Decoupled Content Management Systems"/></a>
</h1>

<p class="view">
    Decoupling your CMS means new opportunities for collaboration, but also
    new possibilities to scale, more flexibility in implementation and the
    chance to realize the dream of multi channel content authoring.
</p>

<ul>
    <li><a href="./technology.html">Technology</a></li>
    <li><a href="./show_cases.html">Show cases</a></li>
    <li><a href="./news.html">News</a></li>
    <li><a href="./links.html">Links</a></li>
</ul>

</header>
